* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121214;
    color: #fff;
    -webkit-font-smothing: antialiased !important;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;


    display: flex;
    flex-direction: column ;
    gap: 1rem;
}

form h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

form input, form textarea{
    display: block;
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    margin: 0.5rem 0;
}

form button {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #86070f;
    color: #fff;
    border-radius: 8px;

}

form button:hover{
    background-color: #a7141e;
}

#mensage{
    display: none;
    width: fit-content;
    align-self: center;
    padding: 1rem;
    background-color: #c0cec4;
    color: #0d5e02;
    text-align: center;
    font-size: 0.87rem;
    border-radius: 8px;
}

#enviadas{
    display: block;
    margin-top: 1rem;
}